<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
  />

  <!-- Font Awesome Icons -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../../public/css/style.css" />
  <script src="./js/main.js"></script> -->
</head>

<body class="app sidebar-mini rtl">
  <div class="container">
    <div class="row">
      <aside class="app-sidebar ">
        <div>
          <p class="app-sidebar__user-name"><b>Admin</b></p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item " href="/admin/active"><i class='app-menu__icon bx bx-check-square'></i> <span
              class="app-menu__label">Tài khoản đã kích hoạt</span></a></li>
        <li><a class="app-menu__item" href="/admin/nonactive"><i class='app-menu__icon bx bx-user-x'></i><span
                class="app-menu__label">Tài khoản chưa kích hoạt </span></a></li>
        <li><a class="app-menu__item" href="/admin/disable"><i class='app-menu__icon bx bx-error-circle'></i><span
              class="app-menu__label">Tài khoản bị vô hiệu hóa</span></a></li>
        <li><a class="app-menu__item" href="/admin/lock"><i class='app-menu__icon bx bx-lock-alt'></i><span
              class="app-menu__label">Tài khoản bị khóa</span></a></li>
        <li><a class="app-menu__item" href="/admin/submit"><i class='app-menu__icon bx bx-check'></i><span
              class="app-menu__label">Xét duyệt giao dịch</span></a></li>
        <li><a class="app-menu__item" href="/admin/history"><i class='app-menu__icon bx bx-calendar'></i><span
                class="app-menu__label">Lịch sử giao dịch</span></a></li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="row">
        <div class="col-md-12">
          <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
              <li class="breadcrumb-item"><a href="#"><b>Thông tin trạng thái các tài khoản</b></a></li>
            </ul>
            <div id="clock"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <!--Left-->
        <div class="col-md-12 col-lg-12">
          <div class="row">
         <!-- col-6 -->
         <div class="col-md-12">
          <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-check fa-3x'></i>
            <div class="info">
              <h4>Tài khoản đã kích hoạt</h4>
              <p><b>10 tài khoản </b></p>
              <p class="info-tong">Tổng số tài khoản được quản lý.</p>
            </div>
          </div>
        </div>
         <!-- col-6 -->
            <div class="col-md-12">
              <div class="widget-small info coloured-icon"><i class='icon bx bxs-user-x fa-3x'></i>
                <div class="info">
                  <h4>Tổng số tài khoản đang chờ kích hoạt</h4>
                  <p><b>5 tài khoản</b></p>
                  <p class="info-tong">Tổng số  tài khoản đang chờ kích hoạt được quản lý.</p>
                </div>
              </div>
            </div>
             <!-- col-6 -->
            <div class="col-md-12">
              <div class="widget-small warning coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
                <div class="info">
                  <h4>Tổng số sản tài khoản bị vô hiệu hóa</h4>
                  <p><b>5 Tài khoản</b></p>
                  <p class="info-tong">Tổng số sản tài khoản bị vô hiệu hóa được quản lý</p>
                </div>
              </div>
            </div>
             <!-- col-6 -->
            <div class="col-md-12">
              <div class="widget-small danger coloured-icon"><i class='icon bx bxs-lock-alt fa-3x'></i>
                <div class="info">
                  <h4>Tổng số sản tài khoản bị khóa</h4>
                  <p><b>5 tài khoản</b></p>
                  <p class="info-tong">Tổng số sản tài khoản bị khóa được quản lý</p>
                </div>
              </div>
            </div>
    </main>
    </div>
  </div>
</body>

</html>