<nav class="nav-bar">
    <div class="nav-items">
      <a href="/function/deposit">Nạp tiền</a>
      <a href="/function/withdraw">Rút tiền</a>
      <a href="/function/tranfer">Chuyển tiền</a>
      <a href="/function/buycard">Mua thẻ</a>
      <a href="/logout">Đăng xuất</a>
    </div>
</nav>