<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <title>Đăng nhập lần đầu</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />

    <!-- Font Awesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <form class="p-3 mt-3" method="post" action="/firstLogin">
        <div class="row">
          <div class="col">
            <h3 class="title">Kích hoạt tài khoản</h3>
            <div>Nhập mật khẩu mới</div>
            <div class="inputBox">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Nhập mật khẩu"
              />
            </div>
            <div>Xác nhận mật khẩu</div>
            <div class="inputBox">
              <input
                type="password"
                name="rePassword"
                id="rePassword"
                placeholder="Xác nhận mật khẩu"
              />
            </div>
            <div class="form-group">
              <% if (error.length > 0) { %>
                  <div class="alert alert-danger alert-dismissible fade show">
                    <%= error %>
                  </div>
              <% } %>
            </div>
            <button class="submit-btn" type="submit">Xác nhận</button>
          </div>
        </div>
        <div class="text-center fs-6">
          <a href="/logout">Đăng xuất</a>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
