<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Khôi phục mật khẩu</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />

    <!-- Font Awesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <form action="" class="p-3">
        <div class="row">
          <div class="col">
            <h3 class="title">Khôi phục mật khẩu</h3>
            <div class="inputBox">
              <span>Email:</span>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Nhập email"
              />
            </div>
            <button class="submit-btn">Gửi yêu cầu</button>
          </div>
        </div>
        <div class="text-center fs-6">
          <a href="/login">Đăng nhập</a>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
